body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.character {
  width: 10px;
  height: 20px;
  display: inline-block;
  box-sizing: border-box;
}

.character .revision {
  position: absolute;
}